.renderHost{
    color: #0E365E;
    font-family: Raleway;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold

}


.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  
  .flex-container > div {
    width: 190px;
    margin: 10px;
    text-align: center;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 80px;
  }


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


img {
    border-radius: 5px 5px 0 0;
}

.arrow {


}

.arrow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}