.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
  
.flex-container > div {
    width: 200px;
    margin: 10px;
    text-align: center;
    align-items: center;
    line-height: 75px;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.button{
    padding-top: 70px;
  }
