form {
    color: #0E365E;
    padding-top: 20px;

}

input {
    width: 10%;
}

label {
    color: white;
    padding-right: 20px;
}

h2 {
    font-family: semibold;
}

#submitbox {
    background-color: #170C9E;

}

.textbox {
    background-color: #b67aff;
}

#body {
    background-image: linear-gradient(#170C9E, #E626EA);
    height: 100vh;
}

.HomeImage {
    padding-top: 150px;
    padding-bottom: 50px;
}

h1 {
    font-family: Raleway;
    font-size: 60px;
    text-shadow: 2px 2px #170C9E;
}