form {
    color: #0E365E;
    padding-top: 20px;
    align-items: right;
    padding-left: 650px

}

label {
    color: white;
    padding-right: 10px;
}

h2 {
    font-family: semibold;
}

.textbox {
    background-color: #b67aff;
}

button {
    background-color: #b67aff;
}

#body {
    background-image: linear-gradient(#170C9E, #E626EA);
    height: 100vh;
}

.HomeImage {
    padding-top: 110px;
    padding-bottom: 40px;
}

h1 {
    font-family: Raleway;
    font-size: 60px;
    text-shadow: 2px 2px #170C9E;
}

.flex-container {
    display: flex;
    justify-content: right;
    padding-top: 20px;
  }
  
.flex-container > div {
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
