
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(#170C9E, #E626EA);
    height: 200px;
    
}

li {
    float: right;
    padding-right: 20px;
    
}
