.App {
  text-align: center;
  color: white;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  font-family: Raleway;
}

.App-link {
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
